/* styles/globals.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

@media (max-width: 1024px) {
    body {
      display: none;
    }
  }
  

.custom-class{
    width: 90px;
    background-color: red;
}
.sidebar-tab-button {
    width: 100%;
    border-right: 2px solid #246BFD;
    background-color: white;
    border-left: none;
    border-top: none;
    border-bottom: none;
}
.sidebar-inactive-tab-button {
    width: 100%;
    background-color: white;
    border: none;
}
.dialogButton{
    min-width: 240px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 24px;
    border-radius: 22px;
    border: none;
}
.add-admin-button{
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 24px;
    border-radius: 22px;
    border: none;
}
.dashboard-top-line{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-inline: 16px;
    margin-bottom: 24px;
}
.searchBox{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 16px;
}
.sidebar{
    width: 90px;
    height: 100vh;
    background-color: white;
    padding: 40px 0;
    border-right: 1px solid #E7E5E4;
}
.tabContainer{
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;    width: 100%;

}
.bottomIcon{
    position: absolute;
    bottom: 0;
}
.welcome{
    font-size: 26px;
    font-weight: 500;
}
.button{
    background-color: transparent;
    border: 1px solid #F2F2F2;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.detailsCard{
    display: flex;
    gap: 16px;
    border: 1px solid #246BFD;
    width: 100%;
    padding: 24px;
    border-radius: 14px;
}
.detailsCardImage{
    display: flex;
    background-color: #E9F0FF;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
}
.tableContainer{
    position: relative;
    margin-top: 24px;
    height: calc(88vh - 230px);
    overflow-y: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
table{
    width: 100%;
    table-layout: fixed;
    overflow-y: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
thead{
    background-color: #E9F0FF;
    position: sticky;
    top: 0;
    z-index: 10;
}
tr{
    font-weight: 500;
}
.thead-tr{
    height: 40px;
    font-size: 14px;
    padding: 8px 0;
    font-weight: 600;
}
.cellStyle{
    padding: 8px 16px;
}
.tr {
    height: 72px;
    border-bottom-style: dashed;
}
.tr:hover{
    background-color: #f5f5f5;
}
.blueBadgeStyle{
    background-color: #EAF7FC;
    color: #30B2EA;
}
.redBadgeStyle{
    background-color: #FDEBE8;
    color: #F33F19;
}
.grayBadgeStyle{
    background-color: #E7EBF3;
    color: #9FA8BC;
}
.greenBadgeStyle{
    background-color: #ECF9E8;
    color: #49C91E;
}
.badgeStyle{
    padding: 4px 8px;
    width: 81px;
    text-align: center;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
}
.initials{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 100%;
    color: #246BFD;
    background-color: #E9F0FF;
}
.checkbox{
    width: 24px;
    height: 24px;
    border-radius: 6px;
    border: 1px solid #9FA8BC;
}

.dialogTitle{
    font-size: 30px;
    font-weight: 700;
}
.dialogContent{
    margin: 24px auto;
}
.deleteButton{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
}
.closeButton{
    position: absolute;
    top: 8px;
    right: 8px;
}
.custom-modal-backdrop {
    background-color: rgba(4, 6, 15, 0.8) !important;
}
.select-and-checkbox-Box{
    display: flex;
    align-items: center;
    gap: 16px;
}
select{
    width: 189px;
    height: 32px;
    font-size: 14px;
    font-weight: 500;  /* font-medium en CSS */
    color: #9FA8BC;
    border-radius: 9999px;  /* rounded-full en CSS */
    text-align: center;
    border: none;
}
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #d1d5db;
    border-radius: 9999px;
    overflow: hidden;
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    width: 315px;
    height: 40px;
}

.left-icon {
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
}

.right-icon {
    padding-right: 0.75rem;
    padding-left: 0.5rem;
}

.icon {
    height: 1.25rem;
    width: 1.25rem;
    color: #6b7280;
}

.search-input {
    flex-grow: 1;
    padding: 0.5rem;
    font-size: 12px;
    border: none;
}

.search-input:focus {
    outline: none;
}
hr{
    margin: 24px auto;
}
.dialogFormStyle{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 40px auto;
}
.inputStyle {
    border: 1px solid #E7EBF3;
    color: #C1C6D3;
    font-size: 16px;
    font-weight: 400;
    border-radius: 9999px;
    width: 496px;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}
.labelStyle {
    position: absolute; /* absolute */
    left: 1rem; /* left-4 (1rem = 16px) */
    top: -0.75rem; /* -top-3 (0.75rem = 12px) */
    background-color: white; /* bg-white */
    padding-left: 0.25rem; /* px-1 (0.25rem = 4px) */
    padding-right: 0.25rem; /* px-1 (0.25rem = 4px) */
    font-weight: bold; /* font-bold */
    color: #9FA8BC; /* text-[#9FA8BC] */
    font-size: 12px; /* text-[12px] */
}
.eyeStyle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding-right: 12px;
    margin: 12px 12px 0 0;
    width: 24px;
    height: 24px;
}
.edit-profile-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    width: fit-content;
}
.success-box {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ECF9E8;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.inner-circle {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: #49C91E;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.icon {
    width: 40.35px;
    height: 29.64px;
    margin: 0 auto;
}
.message {
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    margin-top: 32px; /* Equivalent à deux sauts de ligne <br> */
}
.organization-profile-box {
    height: 80vh;
    margin: 0 24px;
    flex: 1; /* flex-1 */
    border: 1px solid #E7EBF3; /* border border-[1px] border-[#E7EBF3] */
}
.welcome-admin-box {
    display: flex;
    align-items: center;
    height: 88px;
    background-color: #E9F0FF;
    padding: 0 24px;
}
.floating-button {
    float: right;
    background-color: #246BFD;
    padding: 10px 24px;
    border-radius: 9999px; /* Équivalent à rounded-l-full et rounded-r-full */
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
}
.profile-data-box {
    width: 284px;
    padding: 14px;
    display: flex;
    gap: 16px; /* 4 * 4px (taille de base de Tailwind) */
    align-items: center;
}
.circular-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #E9F0FF;
}
.admin-data-box {
    width: fit-content;
    display: flex;
    gap: 20px; /* 5 * 4px (taille de base de Tailwind) */
    margin-top: 24px;
}
.admin-infos-box {
    width: fit-content;
    padding: 14px;
    display: flex;
    gap: 16px; /* 4 * 4px (taille de base de Tailwind) */
    align-items: center;
}
.profile-data-bottom-box {
    width: fit-content;
    display: flex;
    gap: 20px; /* 5 * 4px (taille de base de Tailwind) */
    margin-top: 24px;
}
.auth-page-white-box {
    display: grid;
    width: 624px;
    height: 388px;
    border-radius: 8px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
}
.auth-title {
    font-size: 30px; /* text-[30px] */
    color: black; /* text-black */
    font-weight: bold; /* font-bold */
    text-align: center; /* text-center */
    margin-bottom: 35px; /* mb-[35px] */
}
.auth-button {
    border: none;
    font-weight: 600;
    font-size: 16px;
    justify-content: center;
    color: white;
    background-color: #3B82F6; /* Bleu 500 Tailwind */
    width: 240px;
    height: 40px;
    border-radius: 9999px;
}
.auth-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


